header{
    background-color: blue;
    min-height: 50px;
    min-width: 50px;
    color : white;
}

.header-game{
    background-color: yellow;
    min-height: 50px;
    min-width: 50px;
}

.body-game{
    background-color : green;
    min-height: 50px;
    min-width: 50px;
}

.player1{
    order : 1;
}

.player2{
    order:3;
}

.header-player{
    border : solid black 1px;
    min-height: 50px;
    min-width: 50px;
}

.body-player{
    border : solid brown 3px;
    min-height: 50px;
    min-width: 50px;
}

.footer-player{
    border : solid grey 2 px;
    min-height: 50px;
    min-width: 50px;
}

.common{
    border : solid yellow 2px;
    border-radius : 10px;
    background-color: brown;
    min-height: 50px;
    min-width: 50px;
    order:2;
}

.dice{
    background-color: red;
    min-height: 50px;
    min-width: 50px;
}

.info-game{
    background-color : orange;
    min-height: 50px;
    min-width: 50px;
}

footer{
    background-color: black;
    min-height: 50px;
    min-width: 50px;
}

.form-player{
    margin-left : auto;
    margin-right : auto;
    border-radius: 10px;
}

.form-players{
    background-color: brown;
    border-radius : 10px;
    margin-bottom : 10px;
}

.form-player1{
    background-color: orange;

}

.form-player2{
    background-color: black;

}

.player {
    border-radius: 10px;
    min-height: 50px;
    min-width: 50px;

}

.help-text {
    color: #2b2b2b;
    font-size: 12px;
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius : 0 0 4px 4px;
    padding : 5px;
}

.diceNumber {
    text-align : center;
    border : solid black 1px;
    margin : 5px;
    padding : 5px;
    border-radius : 5px;
    background-color: white;
}

.number1 {
    color :white ;
    background-color : black;
}

.btn-game {
    margin : 5px;
}

.btn:hover {
    border : solid black 1px;
}

.card-player1{
    background-color: orange;
}

.card-player2{
    background-color: black;
    color : white;
}

html{
    background-color: black;
}